# ============================================
# NODE
# ============================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ============================================
# VARIABLES DE ENTORNO
# ============================================
.env

# ============================================
# LOGS
# ============================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ============================================
# EDITOR
# ============================================
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# ============================================
# BUILD
# ============================================
dist/
dist-ssr/
*.local
build/

# ============================================
# TESTING
# ============================================
coverage/
.nyc_output/

# ============================================
# DOCKER
# ============================================
docker-compose.override.yml

# ============================================
# OTROS
# ============================================
.env.local
.env.*.local